language: ruby
rvm:
  - 2.2
before_script:
  - gem install awesome_bot
script:
  - git diff master.. --name-only | grep '.md' | xargs awesome_bot --allow-dupe --white-list http://ipfs.ydns.eu/ipns/boards.ydns.eu/
