{{ define "text" }}
<p class="f6 lh-copy mw5 mt2 mb0 mid-gray">
  {{- . -}}
</p>
{{ end }}

<div class="ma2 dn" id="search">
  <input
    placeholder="Find your awesome app..."
    class="input-reset outline-0 bn pa3 mb2 db w-100 center focus-outline dn"
    type="text" />
</div>

<main class="CardContainer mv4 flex flex-wrap justify-between" >
  {{ range (sort . "Params.index") -}}
    <article data-ref="{{ .Params.index }}" class="Card flex flex-column bg-white shadow-4 grow2 br1 dark-gray b--black-10 flex-grow-1 ma2">
      {{ $cat := index .Params.categories 0 }}
      {{ $color := (index .Site.Data.categories $cat).color }}
      <div class="bg-navy ttu fw6 tracked montserrat bg-{{ $color }}-muted br1 br--top white pv1 ph2 ph3-ns f7 b w-100">
        {{ humanize $cat }}
      </div>

      <div class="pa2 ph3-ns pb3-ns flex flex-column flex-grow-1">
        <div class="dt w-100 mt1">
          <div class="dtc">
            <a target="_blank" class="no-underline charcoal" href="{{ if .Params.website }}{{ .Params.website }}{{ else if .Params.source }}{{ .Params.source }}{{ else if .Params.demo }}{{ .Params.demo }}{{ end }}">
              <h1 class="f5 mw5 f4-ns mv0">{{- .Title -}}</h1>
            </a>
          </div>
        </div>

        {{- if isset .Params "date" -}}
          {{ template  "text" .Date.Format "January 2, 2006" }}
        {{- end -}}

        {{- if isset .Params "description" -}}
          {{ template  "text" .Params.description }}
        {{- end -}}

        {{- if isset .Params "size" -}}
          {{ template  "text" (print "Size: " .Params.size) }}
        {{- end -}}

        {{- if isset .Params "hash" -}}
          <div>
            <a href="https://ipfs.io{{ .Params.hash }}" target="_blank" alt="Website" title="Website" class="aqua hover-teal">
              <abbr title="{{ .Params.hash }}">
                <code>{{ substr .Params.hash 0 10 }}...{{ substr .Params.hash 47 5 }}</code>
              </abbr>
            </a>
          </div>
        {{- end -}}

        {{- if isset .Params "picture" -}}
        <div class="mt2 mw5">
          <a target="_blank" class="no-underline charcoal" href="{{ if .Params.website }}{{ .Params.website }}{{ else if .Params.source }}{{ .Params.source }}{{ else if .Params.demo }}{{ .Params.demo }}{{ end }}">
            <img class="br2" src="{{ .Site.BaseURL }}{{ .Params.picture }}" >
          </a>
        </div>
        {{ end }}

        <div class="flex pt2 mt-auto align-center justify-begin">
          {{- if isset .Params "website" -}}
          <a href="{{ .Params.website }}" target="_blank" alt="Website" title="Website">
            {{ partial "icons/globe.svg" }}
          </a>
          {{- end -}}

          {{- if isset .Params "source" -}}
          <a href="{{ .Params.source }}" target="_blank" alt="Source Code" title="Source Code">
            {{ partial "icons/code.svg" }}
          </a>
          {{- end -}}

          {{- if isset .Params "demo" -}}
          <a href="{{ .Params.demo }}" target="_blank" alt="Demo" title="Demo">
            {{ partial "icons/flask.svg" }}
          </a>
          {{- end -}}
        </div>
      </div>
    </article>
  {{ end }}
</main>
