@import "../../node_modules/tachyons/css/tachyons.css";
@import "../../node_modules/ipfs-css/ipfs.css";

body {
  background: url('./images/starfield.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
}

.focus-outline:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(201, 210, 215, .4);
}

.mt-auto {
  margin-top: auto;
}

.fill-blue {
  fill: #357edd;
}

.fill-white {
  fill: white;
}

.CardContainer {
  column-count: 4;
  column-gap: 1em;
}

.Card {
  margin: 0 0 1em 0;
  width: 100%;
}

@media (max-width: 1000px) {
  .CardContainer {
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .CardContainer {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  .CardContainer {
    column-count: 1;
  }
}